* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  /*   background-attachment: fixed; */
}
main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.First-box {
  background-color: white;
  width: 900px;
  height: 500px;
  display: flex;
  padding: 90px 150px 80px 150px;
  font-family: "Antonio", sans-serif;
  font-weight: 20px;
  font-size: 15px;
}
.sedan {
  background-color: #e28525;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 30px;
}
.sedan img {
  padding: 13px;
  height: 50px;
  width: auto;
}

.suvs {
  background-color: #016972;
  padding: 30px;
}
.suvs img {
  padding: 13px;
  height: 50px;
  width: auto;
}
.luxury {
  background-color: #00403f;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 30px;
}
.luxury img {
  padding: 13px;
  height: 50px;
  width: auto;
}
.sedan h2 {
  color: #ffe8cb;
  padding: 10px 2px;
}
.sedan p {
  color: #f4c684;
  font-size: 13px;
}
.suvs h2 {
  color: #dbfafd;
  padding: 10px 2px;
}
.suvs p {
  color: #73c1c5;
  font-size: 13px;
}
.luxury h2 {
  color: #b6c6c5;
  padding: 10px 2px;
}
.luxury p {
  color: #89b7b7;
  font-size: 13px;
}
.sedan button {
  margin-top: 45px;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 10px;
  font-weight: 30px;
  background-color: #f2f2f2;
  border: none;
  color: #db8d33;
}
.suvs button {
  margin-top: 45px;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 10px;
  font-weight: 30px;
  background-color: #f2f2f2;
  border: none;
  color: #367878;
}
.luxury button {
  margin-top: 45px;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 10px;
  font-weight: 30px;
  background-color: #f2f2f2;
  border: none;
  color: #233837;
}
.text2 {
  font-family: "Ubuntu", sans-serif;
}
.button {
  font-family: "Niramit", sans-serif;
}
a {
  color: white;
}
