* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;
}
.hero {
  width: 100%;
  min-height: 100vh;
  background: #292929;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("IMG_1726.JPG");
}
.hero h1 {
  color: #000;
  font-weight: 500;
  margin-bottom: 0;
}
.signup-box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  max-width: 800px;
  background: #fff;
}
.Left-box {
  padding: 50px;
  background: #fac898;
  flex-basis: 50%;
  flex-grow: 1;
  color: #fff;
}

.input-box {
  width: 100%;
  padding: 10px;
  margin: 10px;
  border: 1px, solid #fff;
  outline: none;
  color: #fff;
  font-size: 20px;
  background: transparent;
}
::placeholder {
  color: #000;
}
input[type="checkbox"] {
  margin-top: 30px;
}
.Left-box label {
  font-size: 14px;
}
.Left-box button {
  width: 100%;
  background: #fff;
  padding: 10px;
  border: 0;
  outline: none;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  transition: background 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Left-box button:hover {
  font-weight: 500;
  background: #000;
  color: #fff;
}
.Left-box button span {
  display: inline-block;
  width: 0px;
  overflow: hidden;
  transition: width 0.5s;
}
.Left-box button:hover span {
  width: 30px;
}
.Login {
  margin-top: 30px;
  font-size: 15px;
}
.Login a {
  color: #964b00;
  text-decoration: none;
  font-size: 15px;
}
